<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace:该mapper.xml映射文件的 唯一标识 -->
<mapper namespace="studentMapper">

    <!--  后续通过  namespace.id-->
    <!--
        parameterType:输入参数(stuNo)的类型
        resultType：查询返回结果值的类型  ，返回类型  -->
    <select id="queryStudentByStuno" parameterType="int" resultType="org.legend.Student">
        <!--
               输入参数parameterType 和 输出参数resultType ，在形式上都只能有一个;     -如果比如输入参数涉及多个,用集合,对象.
               如果输入参数 ：是简单类型（8个基本类型+String） 是可以使用任何占位符,#{xxxx}
                  如果是对象类型，则必须是对象的属性 #{属性名}

               输出参数：  如果返回值类型是一个 对象（如Student），则无论返回一个、还是多个，
                            在resultType都写成org.legend.entity.Student
                                即 resultType="Student"
            -->
        select stuNo,stuName from student where stuNo = #{stuNo}
    </select>


    <insert id="addStudent" parameterType="org.legend.Student" >
        insert into student(stuno,stuname,stuage,graname) values(#{stuNo},#{stuName},#{stuAge},#{graName}  )
    </insert>

    <delete id="deleteStudentByStuno"  parameterType="int">
        delete from student where stuno = #{stuno}
    </delete>

    <update id="updateStudentByStuno" parameterType="org.legend.Student" >
        update student set stuname=#{stuName} ,stuage=#{stuAge},graname=#{graName} where stuno=#{stuNo}
    </update>

    <select id="queryAllStudents"  resultType="org.legend.Student" >
        select * from student
    </select>
</mapper>
